{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Администрирование{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/admin.css' %}?v=2026-01-26-8">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<div class="layout">

    <!-- SIDEBAR -->
    <aside class="sidebar">
        <div class="logo">ЦСУРТ</div>

        <nav>
            <a href="{% url 'admin_dashboard' %}"
               class="{% if request.resolver_match.url_name == 'admin_dashboard' %}active{% endif %}">
                <i class="fa-solid fa-chart-line"></i> Дашборд
            </a>

            <a href="{% url 'admin_employees' %}"
               class="{% if 'employees' in request.resolver_match.url_name %}active{% endif %}">
                <i class="fa-solid fa-users"></i> Сотрудники
            </a>

            <a href="{% url 'admin_positions' %}"
               class="{% if 'position' in request.resolver_match.url_name %}active{% endif %}">
                <i class="fa-solid fa-briefcase"></i> Должности
            </a>

            <a href="{% url 'admin_departments' %}"
               class="{% if 'department' in request.resolver_match.url_name %}active{% endif %}">
                <i class="fa-solid fa-building"></i> Отделы
            </a>

            <a href="{% url 'admin_projects' %}"
               class="{% if 'project' in request.resolver_match.url_name %}active{% endif %}">
                <i class="fa-solid fa-folder-open"></i> Проекты
            </a>
        </nav>

        <div class="sidebar-footer">
            <a href="{% url 'logout' %}">
                <i class="fa-solid fa-arrow-right-from-bracket"></i> Выход
            </a>
        </div>
    </aside>

    <!-- CONTENT -->
    <main class="content">
        {% block content %}{% endblock %}
    </main>

</div>

</body>
</html>
